version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    allow:
      - dependency-type: "all"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directory: "/cmd/sgai/webapp"
    schedule:
      interval: "weekly"
    allow:
      - dependency-type: "all"
